/* @media (max-width: 1440px) {} */
/* @media (max-width: 1366px) {} */
/* @media (max-width: 1320px) {} */
/* @media (max-width: 1290px) {} */
@media (max-width: 1140px) {
    .span, .span_2 {
        display: none;;
    }
    .section_bottom {
        padding-top: 5rem;
        flex-direction: column;
        gap: 35px;
    }
    .section__bottom_txt {
        text-align: center !important;
        max-width: 100%;
        width: 70%;
    }
    .cards {
        scroll-snap-type: x mandatory;
        overflow: auto;
        justify-content: start;
    }
    .card {
        flex-shrink: 0;
        scroll-snap-align: center;
    }
}
/* @media (max-width: 1024px) {} */
@media (max-width: 992px) {
    .header__title {
        font-size: 3.2rem;
    }
    .header__button {
        padding: 9px;
    }
    .link {
        font-size: 12px;
    }
    .font-size {
        font-size: 14px;
    }
    .footer__icon {
        width: 2.5rem;
    }
}
/* @media (max-width: 768px) {} */
@media (max-width: 736px) {
    .font-size {
        font-size: 15px;
    }
}
/* @media (max-width: 667px) {} */
@media (max-width: 600px) {
    .container {
        padding: 0 15px;
    }
    .link {
        margin: 0 6px;
    }
    .nav {
        padding: 5px 0;
    }
    .nav__logo {
        gap: 1rem;
    }
    .nav__icon{
        width: 5rem;
    }
    .header__icon {
        width: 2rem;
        height: 2rem;
    }
    .section__bottom, .section__top_2 {
        padding: 2rem 0;
        margin: 0;
    }
    .cards {
        gap: 8px;
        padding: 3.5rem 0;
    }
    .cards__img {
        height: 55%;
    }
    .card {
        padding: 8px 30px;
    }
    .card__cost {
        margin: 8px 18px;
    }
    .footer {
        padding: 0.8rem 0;
    }
    .footer__ul_icons {
        gap: 1rem;
    }
}
/* @media (max-width: 576px) {} */
@media (max-width: 414px) {
    .header__title {
        font-size: 2.5rem;
    }
    .header__button {
        font-size: 12px;
    }
    .section__txt, .section__txt_2 {
        width: 100%;
        margin: 15px 0 0;
    }
    .section__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
    }
    .section__top_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section__top {
        padding: 0 0 15px;
    }
    .section__txt, .section__txt_2 {
        text-align: center;
    }
    .sec-img1, .sec-img2 {
        order: -1;
        width: 70%;
    }
    .card {
        width: 190px;
    }
    .card__cost {
        margin: 8px 0;
    }
}
@media (max-width: 360px) {
    .footer__ul_icons {
        gap: 0.5rem;
    }
    .footer__icon {
        width: 2rem;
    }
}